
.about{
  padding: 140px 0 162px;
}

.about__wrap{
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.about__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 445px;
  width: 100%;
}

.about__content-top{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__content-desc{
  font-family:var(-ff);
font-weight: 300;
font-size: 16px;
line-height: 140%;
color: var(--gray);
max-width: 304px;
width: 100%;
}

.about__content-btm{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__img{
  max-width: 540px;
  width: 100%;
}
.about__img img{
  width: 100%;
  height: 100%;
}